---
import KeyboardGallery from '../../components/KeyboardGallery/KeyboardGallery';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Keyboard | GABRLYG">
  <main class="flex flex-col items-center w-full justify-center flex-grow px-4">
    <KeyboardGallery />
  </main>
</Layout>
