---
import Link from "../../components/Link.astro";
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Keyboard | GABRLYG">
  <main class="flex flex-col items-center w-full justify-center flex-grow px-4">
    <p class="italic">Yeah this page is under construction too...</p>
    <p class="italic">Check out <Link id="resin-wishlist" href="/resin/wishlist" label='some resin keycaps I want'/>?</p>
  </main>
</Layout>