---
import Header from '../../../components/Header/Header.astro';
import Layout from '../../../layouts/Layout.astro';
import Card from '../../../components/ResinCollection/Card.astro';

const allResinCollection = await Astro.glob('./*.mdx');
---

<Layout title="Resin Collection | GABRLYG">
  <main class="flex w-full h-screen items-center flex-col">
    <Header />
    <ul>
      {allResinCollection.map((resin) => {
        // const { url, colourway, sculpt, mount, maker, thumbnail } = resin.frontmatter;
        return <Card url={resin.url!} {...resin.frontmatter} />
      })}
    </ul>
  </main>
</Layout>