---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo';

const TITLE = 'GABRLYG';
---

<Layout title=`${TITLE}` isHomePage={true}>
  <main
    class="flex flex-col md:flex-row w-full flex-grow px-8 max-w-2xl justify-center items-center gap-16 md:gap-4"
  >
    <h1 class="w-full h-full max-w-sm">
      <Logo />
    </h1>
    <div class="flex flex-col gap-4 border-l-2 border-slate-500 pl-6 md:pl-10">
      <h2 class="text-3xl font-bold">I'm Gabriel Yang</h2>
      <p>
        A Software Engineer, a Street Photographer, a Keyboard Enthusiast, and
        an Artisan Keycaps Collector.
      </p>
    </div>
  </main>
</Layout>
