---
import BurgerMenu from "./BurgerMenu/BurgerMenu.tsx"
import NavItem from "./NavItem.astro"
---
<!-- <nav class="leading-8">
  <ul class="flex flex-row justify-between gap-4">
    <NavItem href="/">Home</NavItem>
    <NavItem href="/keyboard" >Keyboard</NavItem> 
    <NavItem href="/resin">Resin</NavItem>
  </ul>
</nav> -->

<BurgerMenu client:load />